@model BabySitter.Models.NightOut
@{
    ViewBag.Title = "Night Out";

    var today = DateTime.Today;

    ViewBag.AvailableTimes = new Dictionary<DateTime, string>
        {
                { today + new TimeSpan(17, 0, 0), " 5:00 PM"},
                { today + new TimeSpan(18, 0, 0), " 6:00 PM"},
                { today + new TimeSpan(19, 0, 0), " 7:00 PM"},
                { today + new TimeSpan(20, 0, 0), " 8:00 PM"},
                { today + new TimeSpan(21, 0, 0), " 9:00 PM"},
                { today + new TimeSpan(22, 0, 0), "10:00 PM"},
                { today + new TimeSpan(23, 0, 0), "11:00 PM"},
                { today + new TimeSpan(24, 0, 0), "12:00 AM"},
                { today + new TimeSpan(25, 0, 0), "1:00 AM"},
                { today + new TimeSpan(26, 0, 0), "2:00 AM"},
                { today + new TimeSpan(27, 0, 0), "3:00 AM"},
                { today + new TimeSpan(28, 0, 0), "4:00 AM"}
         };
    }

<div class="jumbotron">
    <h1>Night Out</h1>
    <h4>Babysitting pay-out calculator</h4>
    
    @using (Html.BeginForm("Index", "NightOut", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(
                   true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(
                      model => model.StartTime, htmlAttributes: new
                      {
                          @class = "control-label col-md-2"
                      })

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.StartTime, new SelectList(ViewBag.AvailableTimes, "Key", "Value"))

                    @Html.ValidationMessageFor(model => model.StartTime, "", new
                 {
                     @class = "text-danger"
                 })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(
                      model => model.BedTime, htmlAttributes: new
                      {
                          @class = "control-label col-md-2"
                      })

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BedTime, new SelectList(ViewBag.AvailableTimes, "Key", "Value"))


                    @Html.ValidationMessageFor(
                         model => model.BedTime, "", new
                         {
                             @class = "text-danger"
                         })
                </div>

            </div>

            <div class="form-group">
                @Html.LabelFor(
                      model => model.EndTime, htmlAttributes: new
                      {
                          @class = "control-label col-md-2"
                      })

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.EndTime, new SelectList(ViewBag.AvailableTimes, "Key", "Value"))


                    @Html.ValidationMessageFor(
                         model => model.EndTime, "", new
                         {
                             @class = "text-danger"
                         })
                </div>

            </div>            

        </div>

        <p><input type="submit" class="btn btn-primary btn-lg" value="Calculate"></p>

        }
    </div>